@model Web_FIA44_ThreeTierArticleApp.Models.Article

@{
    ViewData["Title"] = "Details";
}
@functions {
    string GetAvailabilityCssClass(string availabilityInfo)
    {
        switch (availabilityInfo)
        {
            case "Dieser Artikel ist vorrätig":
                return "available";
            case "Dieser Artikel ist leider nicht mehr verfügbar":
                return "not-available";
            case "Von diesem Artikel sind nur noch Restbestände verfügbar":
                return "not-available";
            case "Dieser Artikel kann geliefert werden":
                return "not-in-stock";
            default:
                return "available";
        }
    }
}
<div class="card text-center bg-body-secondary">
    <h3 class="text-center">@Model.Name</h3>
<br />
<h5 class="@GetAvailabilityCssClass(Model.AvailabilityInfo)">@Model.AvailabilityInfo</h5>

    <hr />
    <dl class="row" >
        <dt class = "col-6 text-start">
            @Html.DisplayNameFor(model => model.AId)
        </dt>
        <dd class = "col-6 text-end">
            @Html.DisplayFor(model => model.AId)
        </dd>
        <dt class = "col-6 text-start">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-6 text-end">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-6 text-start">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-6 text-end">
            @Model.Price.ToString("C")
        </dd>
        <dt class="col-6 text-start">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class="col-6 text-end">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class="col-6 text-start">
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>
        <dd class="col-6 text-end">
            @(Model.IsAvailable ? "✅" : "❌")
        </dd>
    </dl>
</div>
<br />

<div class="d-flex justify-content-center " >
    <a class="btn btn-outline-secondary " href="/home/Update?AId=@Model.AId">Daten ändern</a>&nbsp;&nbsp;
    <a class="btn btn-outline-secondary " asp-action="Index">Zurück zur Liste</a>
</div>
